<p>Book List</p>

<table>
  <thead>
    <tr>
      <th>Is Done</th>
      <th>Title</th>
      <th>Year</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    @for (item of items; track $index) {
    <tr>
      <td>
        <input
          type="checkbox"
          [checked]="items[$index].isDone"
          (click)="isDone($index)"
        />
      </td>
      <td>
        <div class="cell-container">
          <span class="title">{{ items[$index].title }}</span>
          <div class="buttons-container">
            <button class="edit-button">Edit</button>
            <button class="delete-button">Delete</button>
          </div>
        </div>
      </td>
      <td>
        {{ items[$index].year }}
      </td>
      <td>
        {{ items[$index].author }}
      </td>
    </tr>
    }
  </tbody>
</table>

<button class="add-button" (click)="addBook()">Add Book</button>
